# Generic / root-level files
* @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin
/README.md @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin
/CODEOWNERS @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin
/REUSE.toml @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin
/LICENSES/ @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin

# service-provider-integrations common README.md
/service-provider-integrations/README.md @SAP-samples/commerce-cloud-erp-ext-samples-team-phoenix-chengdu @SAP-samples/commerce-cloud-erp-ext-samples-team-lor @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin

# DQM Address Cleansing Sample
/service-provider-integrations/dqm-address-cleansing-sample-plugin/ @SAP-samples/commerce-cloud-erp-ext-samples-team-lor @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin

# Avalara Tax Sample
/service-provider-integrations/avalara-tax-sample-plugin/ @SAP-samples/commerce-cloud-erp-ext-samples-team-phoenix-chengdu @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin

# SAP S/4HANA Cloud Public Edition Sample
/service-provider-integrations/sap-s4hana-cloud-public-edition-sample-plugin/ @SAP-samples/commerce-cloud-erp-ext-samples-team-supernova @SAP-samples/commerce-cloud-erp-ext-samples-frontliners-admin
